/*---------------------------------------------------
   Main style stylesheet
   project:       OneBack- One Page Parallax
   Version:       1.0
   Author:        MTthemes
   primary use:   Creative
-----------------------------------------------------*/

/*----------------------------------------------------
body
  +loading page
  +navbar
  +header section'
  +video-container section
  +about section
  +services section
  +team section
  +my-portfolio section
  +clients section
  +blog section
  +contact section
  +scroll to top button

------------------------------------------------------*/
*{
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
}

body {
    font-size: 15px;
    font-weight: 300;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
}

a:focus,
a:hover{
    outline: none;
    text-decoration: none;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5{
   font-family: 'Raleway', sans-serif;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.heading{
    position: relative;
    font-weight: 600;
    font-size: 40px;
    color: #444;
    text-align: center;
}

.heading .first{
	font-weight: 300;
	color: #ffb400;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
}

.heading .second{
	font-weight: 100;
	color: #333;
	font-family: 'Raleway', sans-serif;
}

.para{
	text-align: center;
	margin: 0 25% 60px 25%;
	word-spacing: 2px;
	color: #555;
}

/*
.a-btn{
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ffb400;
    border: 1px solid transparent;
}
*/

.a-btn{
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    font-weight: 600;
    transform: perspective(1px)translateZ(0px);
    transition: all 0.3s ease 0s;
}

.a-btn:before{
    content: "";
    background: #ffb400;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50% 0;
    transition: transform 0.4s ease-out;
    z-index: -1;
}

.a-btn:hover:before{
    transform: scaleX(1)
}
/*----------------------------------------------------
Start Section Loading
----------------------------------------------------*/
.loading-overlay {
  background:#222;
  color:#222;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:99999
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #ffb400;
}
.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.8) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/*----------------------------------------------------
End Section Loading
----------------------------------------------------*/

.baner{
	padding: 150px 0;
}

.baner .item{
	margin-bottom: 40px;
}

.baner a{
	text-align: center;
	color: #333;
	display: block;
	margin-top: 20px;
	font-weight: 400;
	overflow: hidden;
}

.baner img{
	transition: all 0.5s ease-in-out;
}

.baner img:hover{
	transform: scale(1.05)
}

.baner a:hover{
	color: #ffb400;
}

/*----------------------------------------------------
Start Section header
----------------------------------------------------*/
.header { 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    border-radius: 0; 
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    background-color: transparent;
} 

.navbar-brand {
    height: auto;
    display: block;
    font-size: 28px;
    line-height: 30px;
    color: #ffb400;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; 
} 

.navbar-brand:hover, 
.navbar-brand:focus {
    color: #ffb400;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.header .navbar-nav { 
    margin: 0;
    float: right;
}  

.header .navbar-nav li a {
    padding: 30px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.header .navbar-nav li a:hover,
.header .navbar-nav li a:focus{
    background: none;
} 

.header .navbar-nav li.active a {
    color: #ffb400;
}

.header .navbar-toggle { 
    margin-top: 20px;
    padding: 10px;
}

.header .navbar-toggle .icon-bar {
    background: #fff;
    height: 3px; 
}
 
.header.shrink {
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0 10px 25px -15px #999;
} 

.header.shrink .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header.shrink .navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #555;
}

.header.shrink .navbar-nav li.active a {
     color: #ffb400;
}

.header.shrink .navbar-toggle { 
    margin-top: 10px;
    padding: 10px;
}

.header.shrink .navbar-toggle .icon-bar {
    background: #555;
    height: 3px; 
}
/*----------------------------------------------------
end Section header
----------------------------------------------------*/

/*----------------------------------------------------
start section home for default page
----------------------------------------------------*/
.home{
    height: 600px;
    background-image: url('../images/city-sunny-people-street.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.home .overlay{
    background-color: rgba(0,0,0,0.65);
    height: 600px;
    padding: 70px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .overlay .title h1{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
}

.home .overlay .title h1 span{
    color: #ffb400;
}

.home .overlay .title p{
    line-height: 1.6em;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.home .overlay .title p:first-of-type{
	font-family: 'Raleway', sans-serif;
	font-size: 30px; 
}

.home .overlay .title .a-btn{
    font-weight: 400;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
	color: #fff;
}

.home .overlay .title .a-btn:hover{
    border: 2px solid #ffb400;
    color: #fff;
    background-color: transparent;
}
/*----------------------------------------------------
end section home for default page
----------------------------------------------------*/

/*----------------------------------------------------
start section slider for slider page
----------------------------------------------------*/
.slider{
    height: 600px;
}

.slider .container-fluid{
    padding: 0;
}

.slider .item{
    height: 600px;
}

.slider .item .overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    color: #fff;
    cursor: e-resize;
}

.slider .first{
    background-image: url(../images/city-sunny-people-street.jpg);
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider .second{
    background-image: url(../images/pexels-photo-313032.jpeg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}
.slider .third{
    background-image: url(../images/pexels-photo-279086.jpeg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider .overlay{
    background-color: rgba(0,0,0,0.65);
    height: 600px;
    padding: 70px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider .overlay .title p:first-of-type{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	transform: translateY(-50px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 0.3s;
}

.slider .overlay .title h1{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
	transform: translateY(50px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 0.8s;
}

.slider .overlay .title h1 span{
    color: #ffb400;
}

.slider .overlay .title p{
    line-height: 1.6em;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
	transform: translateY(50px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 1.3s;
}

.slider .overlay .title .a-btn{
    font-weight: 400;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
	color: #fff;
	transform: translateY(60px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 1.8s;
	transition-property: transform , opacity;
	
}

.slider .owl-carousel .active .a-btn:hover{
    border: 2px solid #ffb400;
    color: #fff;
    background-color: transparent;
}

.slider .owl-carousel .active h1,
.slider .owl-carousel .active p,
.slider .owl-carousel .active p:first-of-type,
.slider .owl-carousel .active .a-btn{
	opacity: 1;
	transform: translateY(0);
}

.slider .owl-dots{
    position: absolute;
    top: 550px;
    width: 100%;
    justify-content: center;   
}

.slider .owl-theme .owl-dots .owl-dot span,
.slider .owl-theme .owl-dots .owl-dot:hover span{
    background-color: transparent;
    border: 1px solid #ddd;
	border-radius: 0;
	height: 7px;
	width: 22px;
}

.slider .owl-theme .owl-dots .owl-dot.active span{
    border: 1px solid #ffb400;
	background-color: transparent;
}
/*----------------------------------------------------
end section slider for slider page
----------------------------------------------------*/

/*----------------------------------------------------
start div video-container for video page
----------------------------------------------------*/
.video-container{
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
 
.video-container .video-background{
    position: absolute;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -100
}

.video-container .overlay{
    background-color:rgba(0,0,0,0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;      
}

.video-container .overlay .title h1{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
}

.video-container .overlay .title h1 span{
    color: #ffb400;
}

.video-container .overlay .title p{
    line-height: 1.6em;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.video-container .overlay .title p:first-of-type{
	font-family: 'Raleway', sans-serif;
	font-size: 30px; 
}

.video-container .overlay .title .a-btn{
    font-weight: 400;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
	color: #fff;
}

.video-container .overlay .title .a-btn:hover{
    border: 2px solid #ffb400;
    color: #fff;
    background-color: transparent;
}
/*----------------------------------------------------
end div video-container for video page
----------------------------------------------------*/

/*----------------------------------------------------
start div carousel for carousel page
----------------------------------------------------*/
.carousel .carousel-caption .overlay{
    background-color: rgba(0,0,0,0.65);
    height: 600px;
    padding: 70px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel .carousel-caption .overlay .title h1{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
}

.carousel .carousel-caption .overlay .title h1 span{
    color: #ffb400;
}

.carousel .carousel-caption .overlay .title p{
    line-height: 1.6em;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.carousel .carousel-caption .overlay .title p:first-of-type{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.carousel .carousel-caption .overlay .title .a-btn{
    font-weight: 400;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
	color: #fff;
}

.carousel .carousel-caption .overlay .title .a-btn:hover{
    border: 2px solid #ffb400;
    color: #fff;
    background-color: transparent;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    text-shadow: none;
}

.carousel .carousel-inner .item {
    min-height: 600px;
    height: 100%;
    width: 100%;
	background-size: cover
}

.carousel .carousel-control {
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    color: #fff;
    background: #ffb400;
    opacity: .85;
    margin-top: -20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 50%;
    z-index: 99;
}

.carousel .carousel-control.left {
    left: 1%;
}

.carousel .carousel-control.right {
    right: 1%;
}

.carousel .carousel-control:hover {
    opacity: 1;
    background: #000;
}

.carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-inner .item,
.carousel-inner .active.left,
.carousel-inner .active.right {
    opacity: 0;
}

.carousel-inner .active,
.carousel-inner .next.left,
.carousel-inner .prev.right {
    opacity: 1;
}

.carousel-inner .next,
.carousel-inner .prev,
.carousel-inner .active.left,
.carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-control {
    z-index: 2;
}
/*----------------------------------------------------
end div carousel for carousel page
----------------------------------------------------*/

/***** carousel for carousel-animated page *****/
.carousel.animated .carousel-caption .overlay .title p:first-of-type{
	transform: translateY(-50px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 0.25s;
}

.carousel.animated .carousel-caption .overlay .title h1{
	transform: translateY(50px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 0.7s;
}

.carousel.animated .carousel-caption .overlay .title p{
	transform: translateY(50px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 1.1s;
}

.carousel.animated .carousel-caption .overlay .title .a-btn{
	transform: translateY(50px);
	opacity: 0;
	transition-duration: 0.7s;
	transition-delay: 1.5s;
}

.carousel.animated .active .carousel-caption .overlay .title h1,
.carousel.animated .active .carousel-caption .overlay .title p,
.carousel.animated .active .carousel-caption .overlay .title .a-btn{
	opacity: 1;
	transform: translateY(0);
}

/*----------------------------------------------------
start section home-part for particles page
----------------------------------------------------*/
.home-part{
	position: relative;
    height: 600px;
    background-image: url('../images/pexels-photo-313032.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-color: rgba(0,0,0,0.7);
	background-blend-mode: overlay;
    text-align: center;
    overflow: hidden;
	-webkit-clip-path: none;
    clip-path: none;
}

.home-part  .title{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.home-part .title h1{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
}

.home-part .title h1 span{
    color: #ffb400;
}

.home-part .title p{
    line-height: 1.6em;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.home-part .title p:first-of-type{
	font-family: 'Raleway', sans-serif;
	font-size: 30px; 
}

.home-part .title .a-btn{
    font-weight: 400;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
	color: #fff;
}

.home-part .title .a-btn:hover{
    border: 2px solid #ffb400;
    color: #fff;
    background-color: transparent;
}
/*----------------------------------------------------
end section home-part for particles page
----------------------------------------------------*/

/**** typed element ****/
.typed{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
} 

.typed .element{
    color: #ffb400;
} 

.typed-cursor{
    font-weight: 300;
}

/*----------------------------------------------------
Start Section about
----------------------------------------------------*/
.about{
    padding: 70px 0;
}

.about .words,
.about .image{
    margin-bottom: 30px;
}

.about .words h2{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.about .words p{
    color: #555;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
	margin-bottom: 20px;
}

.about .words .item p{
	margin-bottom: 5px;
}

.about .words .item{
    margin-bottom: 20px;
}

.about .words p .fa{
    color: #ffb400;
    font-size: 15px;
}

.about .words .a-btn{
    display: inline-block;
    margin-top: 10px;
	color: #fff;
	background-color: #ffb400;
	border: 2px solid #ffb400;
}

.about .words .a-btn:before{
	background-color: #333;
}

.about .words .a-btn:hover{
    border: 2px solid #333;
    color: #fff;
	background-color: transparent;
}
/*----------------------------------------------------
end Section about
----------------------------------------------------*/

/*----------------------------------------------------
start Section skills
----------------------------------------------------*/
.skills{
    padding: 70px 0;
	background-color: #f5f5f5
}

.skills .box .item {
  margin-bottom: 30px;
}

.skills .box .item h5{
	font-size: 18px;
	font-weight: 600;
}

.skills .box .item .skills-progress {
  height: 20px;
  width: 90%;
  background: #fff;
  position: relative;
}

.skills .box .item .skills-progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffb400;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.skills .box .item .skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  right: -10px;
  top: -34px;
  width: 35px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 10px;
  background: #444;
  color: #fff;
  border-radius: 2px;
}

.skills .box .item .skills-progress span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 13px solid #444;
  position: absolute;
  top: -12px;
  right: -2px;
}
/*----------------------------------------------------
end Section skills
----------------------------------------------------*/

/*----------------------------------------------------
start numbers section 
----------------------------------------------------*/
.numbers{
    background-image: url(../images/pexels-photo-279086.jpeg);
	background-attachment: fixed;
	background-size: cover;
    text-align: center;
}

.numbers .overlay{
	padding: 70px 0;
	background-color: rgba(0,0,0,0.85)
}

.numbers .item{
    margin-bottom: 30px;
}

.numbers .item .fa{
	color: #fff;
	font-size: 40px;
}

.numbers .item p{
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}

.numbers .item h1{
    color: #ffb400;
    font-weight: 800;
    font-size: 45px;
	margin-top: 0;
}
/*----------------------------------------------------
end numbers section 
----------------------------------------------------*/

/*----------------------------------------------------
start Section services
----------------------------------------------------*/
.services{
    text-align: center;
    background-color: #f7f7f7;
}

.services .overlay{
    padding: 70px 0;
}

.services .item{
    margin-bottom: 30px;
    padding: 50px 30px;
    background-color: #fff;
    box-shadow: 0 5px 30px -5px #ccc;
}

.services .item:hover{
	box-shadow: 0 10px 25px -3px #888;
}

.services .item .fa{
    font-size: 45px;
    color: #ffb400;
    text-align: center;
}

.services .item h3{
    color: #333;
    font-size: 25px;
    font-weight: 600;
}

.services .item:hover h3{
    color: #ffb400;
}

.services .item p{
    color: #555;
    font-size: 15px;
    line-height: 25px;
}
/*----------------------------------------------------
end Section services
----------------------------------------------------*/

/*----------------------------------------------------
start Section start
----------------------------------------------------*/
.start{
    position: relative;
}

.back-div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-image: url(../images/bryan-minear-315773.jpg);
    background-attachment: scroll;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.start h2{
    font-size: 35px;
	font-weight: 700;
    line-height: 1.3em;
    color: #333
}

.start .para{
	text-align: left;
	margin: 0 0 20px 0;
}

.start .box{
    padding-left: 0;
}

.start .item{
    text-align: left;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
    background-color: #f7f7f7;
	-webkit-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

.start .item .fa{
    font-size: 40px;
    color: #ffb400;
    text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.start .item h3{
    font-size: 25px;
	font-weight: 600;
    color: #333;
}

.start .item p{
	font-size: 15px;
	color: #555;
}

.start .item:hover{
	background-color: #ffb400
}

.start .item:hover .fa,
.start .item:hover h3{
	color: #fff
}

.start .item:hover p{
	color: #f5f5f5;
}

.start .item:hover .fa{
}
/*----------------------------------------------------
end Section start
----------------------------------------------------*/

/*----------------------------------------------------
start Section video
----------------------------------------------------*/
.video{
    background-image: url(../images/pexels-photo-442574.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.video .overlay{
    background-color: rgba(0,0,0,0.75);
    padding: 70px 0;
}

.video .image{
    position: relative;
}

.video .image .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: 35px;
}

.video .image .fa:hover{
    color: #fff;
    background-color: #ffb400;
	border: 5px solid #ffb400;
}

.video .words h2{
    color: #ffb400;
	font-size: 35px;
	font-weight: 700;
}

.video .words p{
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
}

.video .words p:last-of-type{
    margin-bottom: 50px;
}

.video .words .a-btn{
    background-color: transparent;
    color: #fff;
}

.video .words .a-btn:hover{
    background-color: transparent;
    border: 2px solid #ffb400;
}
/*----------------------------------------------------
end Section video
----------------------------------------------------*/

/*----------------------------------------------------
Start Section team
----------------------------------------------------*/
.team{
    padding: 70px 0;
    text-align: center;
}

.team .area{
    position: relative;
}

.team .item{
    margin: 20px;
    padding: 50px 20px;
}

.team .item:focus{
    outline: none;
}

.team .item .image{
	overflow: hidden;
}

.team .item img{
    margin: 0 auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.team .item:hover img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	transform: scale(1.07)
}

.team .item h5{
    color: #333;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.team .item span{
    color: #888;
    font-weight: 400;
    font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.team .item p{
    color: #555;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    margin-top: 5px;
}

.team .item a{
    display: inline-block;
    margin: 5px;
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    border: 1px solid #ffb400;
    border-radius: 50%;
}

.team .item a:hover{
    background-color: #ffb400;
    color: #fff;
}

.team .controllers .prev{
    position: absolute;
    top: 40%;
    left: -20px;
}

.team .controllers .next{
    position: absolute;
    top: 40%;
    right: -20px;
}

.team .controllers span{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ffb400;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
}

.team .controllers span:hover{
    background-color: #333;
}
/*----------------------------------------------------
end Section team
----------------------------------------------------*/

/*----------------------------------------------------
start Section took
----------------------------------------------------*/
.took{
     background-image: url(../images/pexels-photo-279086.jpeg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.took .overlay{
    padding: 70px 0;
    background-color: rgba(0,0,0,0.85);
}

.took p{
    color: #fff;
    margin: 0 10%;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

.took .fa{
    color: #ffb400;
}

.took h5{
    color: #ccc;
    text-align: right;
    margin-right: 10%;
}
/*----------------------------------------------------
end Section took
----------------------------------------------------*/

/*----------------------------------------------------
start my-portfolio section   
 ----------------------------------------------------*/
.my-portfolio{
    padding: 70px 0;
    width: 100%;
    text-align: center;
}

.my-portfolio ul{
    list-style: none;
    margin-bottom: 30px;
}

.my-portfolio ul li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: #666;
    font-weight: 400;
	border-radius: 5px;
    border: 1px solid #aaa;
}

.my-portfolio .selected{
    background-color: #ffb400;
    border: 1px solid #ffb400;
	color: #fff;
}

.my-portfolio .work-area{
    position: relative;
    margin-bottom: 30px;
}

.my-portfolio .work-area .image{
    overflow: hidden
}

.my-portfolio .work-area .image img{
    width: 100%;
    height: auto;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}

.my-portfolio .work-area:hover .image img{
    transform: scale(1.1);
}

.my-portfolio .work-area .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.87);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}

.my-portfolio .work-area .overlay .inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
}

.my-portfolio .work-area .overlay .inner h2{
    transform: translateY(-20px);
    color: #ffb400;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.my-portfolio .work-area .overlay .inner p{
    transform: translateY(20px);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}

.my-portfolio .work-area:hover .overlay .inner h2,
.my-portfolio .work-area:hover .overlay .inner p{
    transform: translateY(0);
}

.my-portfolio .work-area .overlay .inner .line{
    width: 5%;
    height: 1px;
    background-color: #aaa;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
	transition: all 0.4s ease-in-out;
	transition-delay: 0.15s;
}

.my-portfolio .work-area:hover .overlay .inner .line{
    width: 30%;
}

.my-portfolio .work-area .overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out; 
       -moz-transition: all 0.3s ease-in-out; 
         -o-transition: all 0.3s ease-in-out; 
            transition: all 0.3s ease-in-out;
    transform: translateY(50px);
}

.my-portfolio .work-area .overlay i:hover{
    color: #f5734e;
}

.my-portfolio .work-area .overlay:hover i{
    transform: translateY(0);
}

.my-portfolio .work-area:hover .overlay{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
} 
/*----------------------------------------------------
end my-portfolio section 
----------------------------------------------------*/

/*----------------------------------------------------
start twitter section 
----------------------------------------------------*/
.twitter{
    background-image: url(../images/city-sunny-people-street.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.twitter .overlay{
    background-color: rgba(0,0,0,0.8);
    padding: 70px 0;
}

.twitter .fa-twitter{
    color: #1da1f2;
    font-size: 40px;
    margin-bottom: 20px;
}

.twitter .item .fa{
    color: #aaa;
    font-size: 20px;
}

.twitter .item p{
    color: #ccc;
    font-size: 16px;
    line-height: 28px;
    margin: 0 10%;
}

.twitter .item p span{
    color: #58bbff;
}

.twitter .item h4{
    color: #1da1f2;
    margin-top: 30px;
    font-size: 18px;
}

.owl-theme .owl-dots .owl-dot span,
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: transparent;
    border: 1px solid #ddd;
}

.owl-theme .owl-dots .owl-dot.active span{
    background-color: #ffb400;
    border: 1px solid #ffb400;
}
/*----------------------------------------------------
end twitter section 
----------------------------------------------------*/

/*----------------------------------------------------
start help section 
----------------------------------------------------*/
.help{
    padding: 70px 0;
}

.help .box{
    padding: 0;
}

.help .colored{
    background-color: #f5f5f5; 
}

.help .box img{
    width: 100%;
}

.help .box .item{
    padding: 50px;
    min-height: 390px;
}

.help .box .item h3{
    font-size: 22px;
	font-weight: 600
}

.help .box .item strong{
    color: #ffb400;
}

.help .box .item p{
    font-size: 15px;
    line-height: 25px;
    color: #555;
    margin: 30px 0;
}

.help .box .item .a-btn{
    font-weight: 400;
	background-color: #ffb400;
	color: #fff;
	border: 2px solid #ffb400;
}

.help .box .item .a-btn:before{
	background-color: #333;
}

.help .box .item .a-btn:hover{
    color: #fff;
    border: 2px solid #333;
	background-color: transparent;
}
/*----------------------------------------------------
end help section 
----------------------------------------------------*/

/*----------------------------------------------------
start clients section 
----------------------------------------------------*/
.clients{
    background-image: url(../images/pexels-photo-279086.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients .overlay{
    padding: 70px 0;
    background-color: rgba(0,0,0,0.85);
}

.clients .overlay .item img{
	border-radius: 50%;
	margin: 0 auto;
	width: 100px;
}

.clients .overlay .item p{
    color: #eee;
    font-size: 18px;
    line-height: 1.7em;
    margin: 10px 10% 0 10%;
    text-align: center;
}

.clients .overlay .item .fa{
    color: #ffb400;
    font-size: 20px;
}

.clients .overlay .item h4{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color: #ffb400;
}
/*----------------------------------------------------
end clients section 
----------------------------------------------------*/

/*----------------------------------------------------
start price section 
----------------------------------------------------*/
.price{
    padding: 70px 0;
    text-align: center;
    background-color: #f8f8f8;
}

.price .item{
    box-shadow: 0px 10px 35px -5px #bbb;
    margin-bottom: 30px;
    padding: 50px 0;
    background-color: #fff;
}

.price .item .price-box{
    padding-bottom: 20px;
    border-bottom: 1px solid #ffb400;
    margin: 0 10%;
    margin-bottom: 20px;
}

.price .item .price-box p{
    font-size: 30px;
    font-weight: 600;
}

.price .item .price-box strong{
    font-weight: 900;
    font-size: 50px;
    color: #ffb400;
}

.price .item:hover .price-box strong{
    color: #222;
}

.price .item p{
    color: #333;
    font-size: 16px;
    line-height: 1.6
}

.price .item .a-btn{
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
	background-color: #ffb400;
	color: #fff;
	border: 2px solid #ffb400;
}

.price .item .a-btn:hover{
    background-color: transparent;
    color: #fff;
	border: 2px solid #333;
}

.price .item .a-btn:before{
	background-color: #333;
}
/*----------------------------------------------------
end price section 
----------------------------------------------------*/

/*----------------------------------------------------
start subscribe section 
----------------------------------------------------*/
.subscribe{
    background-image: url(../images/pexels-photo-279086.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe .overlay{
    background-color: rgba(0,0,0,0.75);
    padding: 70px 0;
}

.subscribe .heading{
    color: #fff;
}

.subscribe form{
    position: relative;
    margin-left: 20%;
}

.subscribe form label{
    position: absolute;
    left: 20px;
    top: 10px;
    color: #ffb400;
    background-color: #fff;
}

.subscribe form input{
    outline: none;
    border: none;
}

.subscribe form input[type='email']{
    width: 60%;
    height: 40px;
    text-indent: 50px;
}

.subscribe form input[type='submit']{
    width: 20%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    background-color: #ffb400;
    margin-left: -4px;
}

.subscribe form input[type='submit']:hover{
    background-color: #333;
}
/*----------------------------------------------------
end subscribe section 
----------------------------------------------------*/

/*----------------------------------------------------
start blog section 
----------------------------------------------------*/
.blog{
    padding: 70px 0;
    background-color: #f7f7f7;
}

.blog .blog-area{
    margin-bottom: 30px;
	padding: 20px 20px 30px 20px;
	box-shadow: 0 5px 10px -1px #ddd;
	background-color: #fff;
}

.blog .blog-area .image{
    position: relative;
}

.blog .blog-area .image img{
    width: 100%
}

.blog .blog-area .image .overlay{
    background-color: rgba(0, 0, 0, 0.68);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.blog .blog-area .image:hover .overlay{
    transform: scale(1);
}

.blog .blog-area .image .overlay .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.blog .blog-area .image .overlay .fa:hover{
    background-color: #ffb400;
    color: #fff;
}

.blog .blog-area .box span{
    font-size: 13px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    color: #555;
}

.blog .blog-area .box span .fa{
    color: #ffb400;
    margin-right: 5px;
}

.blog .blog-area .box h1{
    font-size: 25px;
    margin-top: 10px;
    color: #333;
	font-weight: 600;
}

.blog .blog-area .box h1:hover{
    color: #ffb400
}

.blog .blog-area .box p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #555;
}

.blog .blog-area .box .a-btn{
    font-size: 13px;
    padding: 10px 15px;
	background-color: #ffb400;
	color: #fff;
}

.blog .blog-area .box .a-btn:before{
	background-color: #333;
}

.blog .blog-area .box .a-btn:hover{
    background-color: transparent;
    border: 2px solid #333;
}
/*----------------------------------------------------
end blog section 
----------------------------------------------------*/

/*----------------------------------------------------
start contact-me Section
----------------------------------------------------*/
.contact {
    padding: 70px 0;
    text-align: center;
}

.contact .item{
    margin-bottom: 30px;
}

.contact .item .fa{
    font-size: 30px;
	margin-bottom: 15px;
	background-color: #ffb400;
	color: #fff;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
}

.contact .item:hover .fa{
    color: #fff;
	background-color: #333;
}

.contact .item h5{
    font-size: 22px;
    color: #333;
	margin-top: 0;
	margin-bottom: 5px;
}

.contact .item p{
    color: #555;
    font-size: 15px;
}

.contact-form {
    border-radius: 3px;
}

.contact-form .form-group{
    margin-bottom: 30px;
    position: relative;
}

.contact-form .form-group label{
    position: absolute;
    left: 15px;
    top: 13px;
    color: #ffb400;
    font-size: 18px;
}

.form-control {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 0;
    color: #222;
    text-indent: 40px;
    background-image: none;
    border-radius: 4px;
    box-shadow: none; 
    font-weight: 300;
    line-height: 45px;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    color: #fff;
    font-size: 14px;
    background: #ffb400;
    border: none;
    -webkit-transition:all .1s ease-in-out;
       -moz-transition:all .1s ease-in-out;
         -o-transition:all .1s ease-in-out;
            transition:all .1s ease-in-out;
    outline: none;
    box-shadow: none;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
}

.contact-form input[type='submit']:hover {
    border: 1px solid #ffb400;
    color: #222;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}
/*----------------------------------------------------
end contact-me Section
----------------------------------------------------*/

/*----------------------------------------------------
start social-icon-div
----------------------------------------------------*/
 .social-icon-div{
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #888;
}

 .social-icon-div i{
    margin-top: 20px;
    color: #333;
    margin-right: 10px;
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #666;
    margin-bottom: 30px;
	border-radius: 50%;
}

 .social-icon-div i:hover{
    color: #fff;
    background-color: #ffb400;
    border: 1px solid #ffb400;
}

.social-icon-div p{
    color: #333;
    font-weight: 400;
}
/*----------------------------------------------------
end social-icon-div
----------------------------------------------------*/

/*----------------------------------------------------
start scroll-top div
----------------------------------------------------*/
#scroll-top {
    width:40px;
    height:40px;
    color:#fff;
    background-color:#444;
    text-align:center;
    position:fixed;
    border-radius: 50%;
    right:15px;
    bottom:10px;
    z-index:9999;
    display: none;
    cursor:pointer;
    padding: 10px;
}

#scroll-top:hover {
    background-color:#ffb400;
}

#scroll-top i{
    line-height: 15px;
}
/*----------------------------------------------------
end scroll-top div
----------------------------------------------------*/

/***** start blog page *****/

.bg-page{
    background-image: url(../images/pexels-photo-313032.jpeg);
	background-position: center;
	background-size: cover;
}

.bg-page .overlay{
    padding: 150px 0;
    background-color: rgba(0,0,0,0.4)
}

.bg-page h1{
	font-size: 30px;
    text-align: left;
    color: #fff
}

.bg-page h1 a{
    color: #fff
}

.bg-page h1 a:hover{
	color: #ffb400;
}


/*----------------------------------------------------
start single-blog section
----------------------------------------------------*/
.single-blog{
    padding: 70px 0;
}

.single-blog .blog{
	padding: 0;
	background-color: transparent;
}

.single-blog .blog-box,
.single-blog .sidebar{
    margin-bottom: 30px;
}

/******* start div blog-details *******/

.single-blog .blog-box .blog-detalis h2{
    color: #ffb400;
    font-size: 25px;
	margin-bottom: 20px;
}

.single-blog .blog-box .blog-detalis ul{
    padding-left: 0;

}

.single-blog .blog-box .blog-detalis ul li{
    display: inline-block;
    position: relative;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    color: #888;
}

.single-blog .blog-box .blog-detalis ul li:after{
    content: "|";
    padding: 0 10px;
    color: #ffb400
}

.single-blog .blog-box .blog-detalis ul li:last-child:after{
    content: "";
}

.single-blog .blog-box .blog-detalis p{
    font-size: 15px;
    line-height: 25px;
}

.single-blog .blog-box .blog-detalis blockquote{
    border-color: #ffb400;
    background-color: #eee;
    padding: 30px;
	margin: 20px 30px;
}

/******* start div comment-box *******/

.single-blog .blog-box .comment-box{
    margin-top: 30px;
}

.single-blog .blog-box .comment-box .item{
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.single-blog .blog-box .comment-box h2{
    font-size: 30px;
	margin-bottom: 20px;
}

.single-blog .blog-box .comment-box img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.single-blog .blog-box .comment-box .comment h3{
    margin-top: 0;
    font-size: 20px;
}

/******* start div comment-form *******/

.single-blog .blog-box .comments-form{
    margin-top: 30px;
}

.single-blog .blog-box .comments-form h2{
    font-size: 25px;
	margin-bottom: 20px;
}

.single-blog .blog-box .comments-form form button{
    background-color: #ffb400;
    color: #fff
}

/******* start div search-form *******/

.single-blog .sidebar .search-form{
    position: relative
}

.single-blog .sidebar .search-form button{
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    background-color: #ffb400;
    color: #fff;
    border-radius: 0;
    width: 45px;
        
}

/******* start div search-form *******/

.single-blog .sidebar .categories h2{
    font-size: 25px;
	margin-bottom: 20px;
}

.single-blog .sidebar .categories ul{
    list-style: none;
    padding-left: 0;
}

.single-blog .sidebar .categories ul li{
    display: block;
}

.single-blog .sidebar .categories ul li a{
    display: block;
    color: #333;
    font-weight: 400;
    padding:10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.single-blog .sidebar .categories ul li a:hover{
    background-color: #ffb400;
    color: #fff
}

.single-blog .sidebar .categories ul li a span{
    float: right;
    border-radius: 50%;
    background-color: #ffb400;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
	margin-top: -5px;
}

.single-blog .sidebar .categories ul li a:hover span{
    color: #ffb400;
    background-color: #fff;
}

/******* start div recent-post *******/

.single-blog .sidebar .recent-post h2{
    font-size: 25px;
	margin-bottom: 20px;
}

.single-blog .sidebar .recent-post .item{
    margin-bottom: 30px;
}

.single-blog .sidebar .recent-post .item h5 a{
    font-size: 20px;
    color: #ffb400;
}

.single-blog .sidebar .recent-post .item h5 a:hover{
    color: #222;
}

.single-blog .sidebar .recent-post .item span{
    font-size: 15px;
    color: #555;
    font-weight: 400;
	display: block;
	margin-top: -5px;
}

/******* start div archives *******/

.single-blog .sidebar .archives h2 {
    font-size: 25px;
	margin-bottom: 20px;
}

.single-blog .sidebar .archives ul{
    list-style: none;
    padding-left: 0;
}

.single-blog .sidebar .archives ul li{
    display: block;
    margin-bottom: 10px;
}

.single-blog .sidebar .archives ul li a:hover{
    color: #ffb400;
}

/******* start div tags *******/

.single-blog .sidebar .tags h2{
    font-size: 25px;
	margin-bottom: 20px;
}

.single-blog .sidebar .tags ul{
    list-style: none;
    padding-left: 0;
}

.single-blog .sidebar .tags ul li{
    display: inline-block;
}

.single-blog .sidebar .tags ul li a{
    display: block;
    background-color: #ffb400;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.single-blog .sidebar .tags ul li a:hover{
    background-color: #222;
}

/******* start div meta *******/

.single-blog .sidebar .meta h2{
    font-size: 25px;
	margin-bottom: 20px;
}

.single-blog .sidebar .meta ul{
    list-style: none;
    padding-left: 0;
}

.single-blog .sidebar .meta ul li{
    display: inline-block;
}

.single-blog .sidebar .meta ul li a .fa{
    background-color: #ffb400;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff
}

.single-blog .sidebar .meta ul li a .fa:hover{
    background-color: #222;
}

.btn-green {
    background: #71c270;
    font-family: inherit;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 50px;
    font-weight: 500;
    height: 60px;
    border: none;
    border-radius: 4px;
    text-align: center;
}